/* Global Rules */
:root {
    --Strong-Cyan: hsl(171, 66%, 44%);
    --Light-Blue: hsl(233, 100%, 69%);
    --Dark-Grayish-Blue: hsl(210, 10%, 33%);
    --Grayish-Blue: hsl(201, 11%, 66%)
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Bai Jamjuree', sans-serif;
    font-size: 70%
}

@media (max-width: 992px) {
    body {
        font-size: 80%;
    }
}

.container {
    padding: 4rem 8%;
}

.text {
    display: flex;
    max-width: 100%;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

h1,
h2 {
    color: var(--Dark-Grayish-Blue);
    margin: 1rem 0;
    font-size: 2rem;
}

h3 {
    color: var(--Dark-Grayish-Blue);
    margin: 1rem 0;
    font-size: 1.25rem;
}

.container p {
    color: var(--Grayish-Blue);
    font-size: 1rem;
    max-width: 35rem;
    line-height: 1.8;
}

.iOS,
.Mac,
footer .svg,
a:hover {
    cursor: grab;
}

/* Header */
.header {
    position: relative;
    background: url(../images/bg-header-desktop.png) center center no-repeat;
    background-size: cover;
    max-height: 90vh;
    display: flex;
    justify-content: center;
    width: 100%;
}

.header .container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}

.header .container .buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.iOS,
.Mac {
    padding: 1rem;
    border-radius: 2.5rem;
    font-size: 1rem;
    min-width: 15rem;
    margin: .5rem;
    color: white;
    font-weight: bold;
    border: none;
}

.iOS {
    background-color: var(--Strong-Cyan);
    box-shadow: 0 .5rem 1rem hsl(171deg 66% 44% / 50%);
}

.Mac {
    background-color: var(--Light-Blue);
    box-shadow: 0 0.5rem 1rem hsl(233deg 100% 69% / 50%);
}

.keep .container .keep-contect {
    margin-top: 3rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.keep .container .keep-contect .image-keep {
    position: relative;
    width: 38rem;
    left: -10rem;
}

.keep .container .keep-contect .image-keep img {
    max-width: 100%;
}

.keep .keep-contect .keep-text {
    flex: 1 1 20rem;
    display: flex;
    flex-direction: column;
    gap: 4rem;
}

/* Access */

.access .access-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.access .access-image {
    padding-top: 4rem;
    position: relative;
    width: 35rem;
    height: 20rem;
    
}

.access .access-image img {
    width: 100%;
}

/* Superchare */
.Superchare .Sup-content {
    margin-top: 5rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
    grid-gap: 3rem;
    text-align: center;
}

.Superchare .Super-content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(12rem, 1fr));
    grid-gap: 2.5rem;
    margin-top: 5rem;
    text-align: center;
}

.Download .buttons {
    padding-top: 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* Footer */
footer {
    background-color: #f6f6f6;
}

footer .container {
    padding: 2rem 5%;
    display: flex;
    align-items: center;
}

footer .copy {
    font-size: 3rem;
    color: var(--Strong-Cyan);
}

footer nav {
    display: flex;
}

footer ul {
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    padding-left: 7rem;
}

footer a {
    text-decoration: none;
    color: var(--Dark-Grayish-Blue);
    display: block;
    font-size: .75rem;
    padding: 1rem 2rem
}

footer a:hover {
    color: var(--Strong-Cyan);
}

footer .icons {
    display: flex;
    justify-content: center;
    flex: 1;
    align-items: center;
}

footer svg {
    margin-left: 2rem;
}

footer .svg:hover {
    color: var(--Strong-Cyan);
}


@media (max-width: 1120px) {

    .keep .container .keep-contect .image-keep {
        width: 30rem;
    }

    .keep .keep-contect .keep-text {
        gap: 1rem;
    }
}

@media (max-width: 968.5px) {

    .keep .container .keep-contect {
        gap: 3rem;
    }

    .keep .container .keep-contect .image-keep {
        width: 40rem;
    }
}

@media (max-width: 768px) {

    .keep .container .keep-contect {
        justify-content: center;
        gap: 3rem;
    }

    .keep .container .keep-contect .image-keep {
        position: static;
        width: 30rem;
    }

    .keep .container .keep-contect .keep-text {
        text-align: center;
        align-items: center;
    }

}

@media (max-width: 600px) {

    .access .access-image {
        height: 15rem;
    }

    footer .container {
        flex-direction: column;
        padding: 5rem;
        text-align: center;
    }

    footer ul {
        padding: 1rem 0;
        flex-direction: column;
    }

    footer svg {
        margin-left: 1rem;
    }

}

@media (max-width: 280px) {
    .Superchare .Sup-content {
        grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));

    }

}




